.borderMenuBackground {
    -fx-opacity: 0.39;
    -fx-fill: lightgray;
}

.MenuLabel {
    -fx-text-fill: rgb(207, 207, 207);
}

.MenuLabel:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255,0.5), 15, 0.6, 0, 0);
}

.CardTitle {
    -fx-text-fill: white;
}

.CardContent {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
}

.exitItem {

}


.exitItem:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 155, 155, 0.5), 8, 0.6, 0, 0);
}

.exitItem:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 155, 155, 0.5), 12, 0.6, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-y: -2;
}

.progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-paddings: 0;
    -fx-padding: 0.20em;
    -fx-accent: rgba(52, 102, 185, 0.9);
    -fx-box-border: transparent;
}

.progress-bar > .track {
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}

.MenuLabelFocus {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255,0.5), 15, 0.6, 0, 0);
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: rgba(201, 201, 201, 0.25);
}

.scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-unit-increment: 5 ;
    -fx-block-increment: 20 ;
}

.patchNotesUnread {
    -fx-background-color: rgba(230, 30, 30, 0.8);
    -fx-background-radius: 2;
}

.icon {
    -fx-effect: dropshadow(three-pass-box, rgba(56, 102, 185, 0.5), 4, 0.6, 0, 0);
}

.icon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(56, 102, 185, 0.5), 12, 0.6, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}